.UserCard {
  margin-bottom: 16px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(69, 67, 96, 0.1);
  -webkit-box-shadow: 0 0 5px 0 rgba(69, 67, 96, 0.1);
  .left-box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .img {
      width: 50px;
      height: 50px;
      display: block;
      border-radius: 50%;
      margin-right: 10px;
    }
    .text {
      flex-grow: 1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: #f67280;
      font-size: 17px;
      font-weight: 700;
      line-height: 28px;
      .name {
        width: 100%;
      }
      .span {
        margin-right: 26px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: normal;
        color: rgb(155, 155, 155);
      }
    }
  }
  .noIdol {
    height: 26px;
    overflow: hidden;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 2px;
    color: white;
    border-radius: 5px;
    border: 1px solid #f67280;
    background-color: #f67280;
  }
  .Idol {
    color: rgb(117, 117, 117);
    background-color: rgb(228, 228, 228);
    border: none;
  }
  .noIdol::after {
    border: none;
  }
}
